In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as  plt 


data = {'a':1, 'b':2, 'c':3}
pd.Series(data=data, dtype=np.int16, name='dict')

a    1
b    2
c    3
Name: dict, dtype: int16

In [4]:
pd.Series(5.0, index=['a', 'b', 'c', 'd', 'e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [5]:
s = pd.Series(data=np.random.randn(5), index=['a','b','c','d','e'])
s

a    0.441036
b   -2.262935
c   -0.135541
d   -0.869973
e   -0.359569
dtype: float64

In [6]:
s[0]

0.4410361891218775

In [9]:
s[:3]

a    0.441036
b   -2.262935
c   -0.135541
dtype: float64

In [10]:
s[s>s.median()], s.median()

(a    0.441036
 c   -0.135541
 dtype: float64,
 -0.35956856787792646)

In [11]:
'a' in s

True

In [12]:
't' in s

False

In [13]:
s.get('rr')

In [15]:
s.get('a', 'None')

0.4410361891218775

In [16]:
s[[4, 3, 1]]

e   -0.359569
d   -0.869973
b   -2.262935
dtype: float64

In [17]:
s['a']

0.4410361891218775

In [ ]:
lst = [4, 0, 1]

In [18]:
s['a'] = 15
s

a    15.000000
b    -2.262935
c    -0.135541
d    -0.869973
e    -0.359569
dtype: float64

In [21]:
s+s

a    30.000000
b    -4.525870
c    -0.271082
d    -1.739946
e    -0.719137
dtype: float64

In [20]:
np.abs(s) #절대값

a    15.000000
b     2.262935
c     0.135541
d     0.869973
e     0.359569
dtype: float64

In [22]:
np.exp(s)

a    3.269017e+06
b    1.040447e-01
c    8.732434e-01
d    4.189628e-01
e    6.979774e-01
dtype: float64

In [23]:
s.to_numpy()

array([15.        , -2.26293488, -0.13554096, -0.86997309, -0.35956857])

In [25]:
data = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"])
}

In [26]:
df = pd.DataFrame(data=data)
pd

In [27]:
df.index, df.columns

(Index(['a', 'b', 'c', 'd'], dtype='object'),
 Index(['one', 'two'], dtype='object'))

In [ ]:
data2 = [["a":1, "b":2], ["a":5], ["C: 6, "d: 8]

In [30]:
pd.DataFrame(data=data2, index={'first', 'second'})

NameError: name 'data2' is not defined

In [31]:
list("abc")

['a', 'b', 'c']

In [32]:
range(3)

range(0, 3)

In [35]:
ser = pd.Series(range(3), index=['a', 'b', 'c'], name="ser")
pd.DataFrame(ser)

   ser
a    0
b    1
c    2

In [ ]:
data = ["col_1": [3, 2, 1, 0], "col_2": ['a', 'b', 'c', 'd']]
df = DataFrame.form(dict(datan orient ='index'

## 데이터 변환
##### pd.DataFrame.to_vargeu(),  pd.DataFrame.to_csv(),   pd.DataFrame.to_excel(),  pd.DataFrame.to_excel(),  pd.DataFrame.to_json()

In [ ]:
df.to_dict('records'())

In [ ]:
df.to_json(orient="records")

In [36]:
df['one'] = 2

In [38]:
list(df['one']) > 2

TypeError: '>' not supported between instances of 'list' and 'int'

In [ ]:
three = de.pop("three")
three

In [37]:
df['flag']= df['one'] > 2
df

   one  two   flag
a    2  1.0  False
b    2  2.0  False
c    2  3.0  False
d    2  4.0  False

In [40]:
df['one_trunc'] = df['one'][:2]
df

   one  two   flag  one_trunc
a    2  1.0  False        2.0
b    2  2.0  False        2.0
c    2  3.0  False        NaN
d    2  4.0  False        NaN

In [42]:
df.insert(1, 'bar', df['one'])
df

ValueError: cannot insert bar, already exists

In [92]:
df.Columns = ['one', 'bar', 'two', 'three']
df

   one  bar  two   flag  one_trunc
a    2    2  1.0  False        2.0
b    2    2  2.0  False        2.0
c    2    2  3.0  False        NaN
d    2    2  4.0  False        NaN

In [46]:
df.index, df.columns # ()는 변경 안됨

(Index(['a', 'b', 'c', 'd'], dtype='object'),
 Index(['one', 'bar', 'two', 'flag', 'one_trunc'], dtype='object'))

## 데이터 선택

In [48]:
import seaborn as sns

iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [49]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

### isin() : 해당 값

In [51]:
cond = iris['petal_length'].isin([1.4,1.3])
iris[cond][:10]

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
6            4.6          3.4           1.4          0.3  setosa
8            4.4          2.9           1.4          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
28           5.2          3.4           1.4          0.2  setosa

In [52]:
cond = iris['petal_length'].isin([1.4,1.3]) 
iris[~cond][:10] #not 적용

    sepal_length  sepal_width  petal_length  petal_width species
3            4.6          3.1           1.5          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
7            5.0          3.4           1.5          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
18           5.7          3.8           1.7          0.3  setosa

### iloc : 행을 통해 데이터를 가져옵니다.

In [54]:
iris.iloc[0]

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [56]:
iris.iloc[:,:3] #행 전체, 3열

     sepal_length  sepal_width  petal_length
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

In [59]:
iris.iloc[1:4, 1:4]

   sepal_width  petal_length  petal_width
1          3.0           1.4          0.2
2          3.2           1.3          0.2
3          3.1           1.5          0.2

In [79]:
iris.iloc[[1,2,-1]]

     sepal_length  sepal_width  petal_length  petal_width    species
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
149           5.9          3.0           5.1          1.8  virginica

### loc : 인덱스를 통해 행번호를 가져옵니다.

In [55]:
iris.loc[0]

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [58]:
iris.loc[:, ['sepal_width','petal_length']]

     sepal_width  petal_length
0            3.5           1.4
1            3.0           1.4
2            3.2           1.3
3            3.1           1.5
4            3.6           1.4
..           ...           ...
145          3.0           5.2
146          2.5           5.0
147          3.0           5.2
148          3.4           5.4
149          3.0           5.1

[150 rows x 2 columns]

In [70]:
iris.loc[[1, 45, 101]]

     sepal_length  sepal_width  petal_length  petal_width    species
1             4.9          3.0           1.4          0.2     setosa
45            4.8          3.0           1.4          0.3     setosa
101           5.8          2.7           5.1          1.9  virginica

## 마스킹을 이용한 다중 조건

#### &(and) : 두 개의 조건이 모두 참인 경우 True
#### |(or) : 하나라도 참인 경우 True
#### ~(not) : 거짓인 경우 True

In [69]:
mask = iris['sepal_length'] > 5.0
iris.loc[mask].head()

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
10           5.4          3.7           1.5          0.2  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa

In [75]:
mask1 = iris['sepal_width'] < 5.0
mask2 = iris['petal_length'] > 3.0
result = mask1 & mask2

iris.loc[result].head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [78]:
mask1 = iris['sepal_width'] > 5.0
mask2 = iris['petal_length'] > 4.0
result = mask1 | mask2

iris.loc[result].head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
54           6.5          2.8           4.6          1.5  versicolor
55           5.7          2.8           4.5          1.3  versicolor

In [90]:
mask1 = iris['sepal_width'] > 5.0
mask2 = iris['petal_length'] > 4.0
result = mask1 | mask2

iris.loc[~result].head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [80]:
iris.select_dtypes(include=np.number)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [84]:
iris.select_dtypes(include='float64')

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [87]:
iris.loc[[1, 4],['sepal_width','petal_width']].shape

(2, 2)

In [88]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [89]:
iris.shape

(150, 5)

In [91]:
c1 = iris['sepal_length'] >= 5.0
c2 = iris['sepal_length'] <= 3.0
c = c1 & c2

iris.loc[~mask].shape

(32, 5)